* { margin: 0; padding: 0; }
p { padding: 10px; }
#left { position: absolute; left: 0; top: 0; width: 40%; }
#center { position: absolute; left: 0; top: 0; width: 20%; }
#right { position: absolute; right: 0; top: 0; width: 40%; }